header {
    padding: 40px;
    text-align: center;
    background:  rgb(93 42 95);
    color: white;
    border-bottom: 30px #879274;
  }


.large-font {
    font-size: 3.5em;
    text-align: center;
  }

.container {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  border: 1px solid black;
}

#city_div {
  background-color: mintcream;
}

#general {
  background-color: mediumslateblue;
}

.grid_row {
  height: 100%;
}