header {
    padding: 40px;
    text-align: center;
    background:  rgb(16, 61, 156);
    color: white;
    border: 25px solid white
    
  }


.large-font {
    font-size: 3.5em;
    text-align: center;
  }

.container {
} 

#city_div {
  background-color: mintcream;
  padding: 25px;
  border: 25px solid turquoise;
}

#general {
  background-color: rgb(16, 61, 156);
  /*width: 1000px;*/
  padding: 25px;
  border: 10px solid black;
  color: white;
}

.flex_container {
  display:flex;
}

.flex_container div {
  flex-basis: 20%;
}

.search-button {
  color:black;
  font-size: 16px;
  background:#076ac7;
  margin: 8px;
  padding: 8px 19.2px;
}
.form-input {
  background: white;
  margin: 8px;
  padding: 12px;
}

/* Larger than mobile */
@media screen and (min-width: 480px) {

  .container {
    display:grid;
    /*flex-direction: column;*/
    grid-template-columns: 300px auto;
    border:1px solid red;
  }

}